@model pokusoblog2.Models.Article

@{
    ViewData["Title"] = @Model.Title;
}


@*BACKGROUND*@
<div class="mb-5">
    <div class="background img-fluid"></div>
</div>


<div class="container">
    <div class="row">

        <div>  
            <div>
                <h1>@Model.Title</h1>
            </div>
            <div>
                <h6 class="">@Model.Description</h6>
            </div>

        </div>
       

        <div>
           
            <hr/>
            <div class="row">
                <dt class="col-12 fw-normal">
                        @*to be showed without html and formating*@    
                        @Html.Raw(Model.Content)
                </dt>

            </div>
        </div>
        <div>
            <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>


    </div>
</div>

