html {
  font-size: 14px;
  padding: 0;
  margin:0;
  box-sizing:border-box;
}



html {
    position: relative;
    min-height: 100%;
}

body {
 
    margin-bottom: 60px;
}
/*====================================footer=====================================*/
footer {
    background-color: rgba(88,143,39,255);
}


/*====================================navigation=====================================*/

nav {
    border-bottom:5px solid white;
}

.register, .register nav {
    background-color: rgba(88,143,39,255);
}

.nav-item {
    filter:brightness(95%);

}
.nav-item:hover {
    filter: brightness(130%);
    transform:scale(110%);
}



/*====================================Main site=====================================*/



.background {
    background-image: url("../img/Logo1.png");
    height: 400px;
    background-color: rgba(88,143,39,255);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.background2 {
    background-image: url("../img/Logo1.png");
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.article_main {
    height: 550px;
    border: 1px solid rgb(196, 192, 192);
    box-shadow: 4px 4px 10px;
    border-radius: 10px;
    background-color: rgb(249, 246, 246);
    transition: 0.5s;
}

    .article_main h2, .article_main p {
        color: black;
    }


.article {
    height: 250px;
    border: 1px solid rgb(196, 192, 192);
    box-shadow: 4px 4px 10px;
    border-radius: 10px;
    background-color: rgb(249, 246, 246);
    transition: 5s;
}

    .article h2, .article p {
        color: black;
    }

    .article:hover,
    .article_main:hover {
        background: rgb(240, 237, 237);
        border: 1px solid rgb(136, 134, 134);
        box-shadow: 6px 6px 15px;
        transform: scale(1.05);
        transition: 0.5s;
    }

    .article img {
        max-height: 100px;
    }

.article_main img {
    max-height: 220px;
   
}

.separator {
    height: 50px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
    .background {
        background-image: url("../img/Logo3.png");
        height: 400px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .background2 {
        background-image: url("../img/Logo2.png");
        height: 400px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .separator {
        height:100px;
    }
}